.nav-header {
  font-family: 'Roboto';
  background-color: #202020;
  padding: 20px;
}

.nav-content {
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  height: 60px;
}

.nav-menu {
  display: none;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: row;
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.logout-desktop-btn {
  display: none;
}

.logout-mobile-btn {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.logout-icon {
  background-color: transparent;
  color: #ffffff;
  height: 100px;
  margin: 5px;
}

.icon {
  color: #ffffff;
  height: 80px;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .nav-content {
    display: flex;
    flex-direction: row;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .nav-menu-mobile {
    display: none;
  }

  .logout-icon {
    display: none;
  }

  .nav-link {
    text-decoration: none;
    color: #f8fafc;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logout-desktop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    background-color: #4f46e5;
    border-radius: 10px;
    outline: none;
    height: 40px;
    cursor: pointer;
  }

  .logout-mobile-btn {
    display: none;
  }
}
